* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  --text-color: white;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.mid-body {
  width: 70%;
  height: calc(100vh - 90px);
  position: relative;

  background-color: #231b2e;

  /* background: rgb(35, 27, 46);
  background: linear-gradient(
    308deg,
    rgba(35, 27, 46, 1) 35%,
    rgba(58, 44, 80, 1) 83%
  ); */
  overflow-y: scroll;
}

.mid-nav {
  height: 60px;
  width: 100%;
  background-color: #170f23;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.prev-body-btn {
  position: absolute;
  left: 10px;
  background-color: #170f23;
  border: none;
  top: 17px;
  z-index: 5;
  cursor: pointer;
}
.prev-body-btn:hover {
  scale: 1.1;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10px;
}

#search-btn-nav {
  height: 35px;
  width: 35px;
  padding: 0 !important;
  background-color: #170f23;
  border: none;
  cursor: pointer;
}

#search-music-input {
  height: 35px;
  width: 400px;
  font-size: 17px;
  outline: none;
  border: none;
  background-color: #170f23;
  border-bottom: 1px solid rgb(113, 48, 156);
  color: white;
  padding-left: 5px;
}

.search-result-box {
  position: absolute;
  width: 450px;
  background-color: #170f23;
  top: 60px;
}

.body-web-show {
  width: 100%;
}


/* ----------------------------------- */
.mid-banner {
  width: 100%;

  background-color: #231b2e;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 20px 20px;
}

.album-box {
  width: 250px;
  overflow: hidden;
  margin-right: 20px;
}
.album-box > img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}
.album-box > p {
  margin: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.603);
}
.album-box > .album-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.albums-title {
  font-size: 22px;
  color: white;
  font-weight: bold;
  background-color: #231b2e;
  padding: 20px 0 10px 20px;
}

/* ------------------------- */
.new-music-box {
  width: 100%;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.music-item-box {
  height: 100px;
  width: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  border-right: 4px solid rgba(255, 255, 255, 0);
}

.music-item-box:hover {
  background-color: #563d7a;
  border-color: #a84fc4;
}

.music-item-box > img {
  height: 90px;
  aspect-ratio: 1/1;

  margin-left: 5px;
}
.music-item-box > .info {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 70%;
  color: var(--text-color);
}

.music-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.music-author,
.time-upload {
  margin: 3px 0 3px 0;
  font-size: 14px;
}

.new-music-title {
  margin: 20px 0 0 20px;
  font-size: 25px;
}

/* ------------------------------------------------------------------- */
.play-zone {
  position: fixed;

  background-color: #170f23;
  height: 90px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(61, 61, 61);
}

.audio-control-btn {
  height: 40px;
  width: 40px;

  background-color: #170f23;
  border: none;
  outline: none;

  padding: 0 !important;
  margin: 0 5px 0 5px !important;
  cursor: pointer;
}
.audio-control-btn:hover {
  scale: 1.2;
}

.play-btn {
  height: 40px;
  width: 40px;
}

#play-music-info {
  height: 100%;
  width: 23%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px 0 5px;
  color: var(--text-color);
  z-index: 4;
  left: 0;
}

#play-music-info > img {
  height: 90%;
  aspect-ratio: 1/1;
  margin-right: 10px;
}
#play-music-info > #info {
  width: 60%;
}
#on-play-music-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}
#love-box-btn {
  height: 30px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
#love-box-btn > svg > path {
  color: white;
}

.play-zone-btn-box {
  display: flex;
  width: calc(77% - 300px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 5px 0;
  z-index: 4;
}

#range-duration {
  width: 50%;
  margin: 0 10px 0 10px;
}

input[type="range"] {
  background-color: white;
  accent-color: rgb(169, 25, 182);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.music-time-p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
}
/* --------------------- */
.top-music-box {
  width: 94%;

  background: rgb(179, 133, 210);
  background: linear-gradient(
    207deg,
    rgba(179, 133, 210, 1) 44%,
    rgba(102, 37, 152, 1) 85%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  margin: 0 3% 0 3%;
  border-radius: 10px;
}
.top-table {
  width: 60%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 0 10px 0;
}
.top-1-show {
  aspect-ratio: 1/1;
  width: 30%;
  overflow: hidden;
  border-radius: 10px;
}
.top-1-show > img {
  height: 100%;
  aspect-ratio: 1/1;
}

.top-music-item {
  height: 110px;
  width: 90%;
  display: flex;
  flex-direction: row;

  align-items: center;
  position: relative;
  margin: 5px 0 5px 0;
  color: white;

  background-color: #4d296a;
  cursor: pointer;
}
.top-music-item:hover {
  background-color: #66467c;
}

.top-music-item > img {
  height: 90%;
  aspect-ratio: 1/1;
  margin: 0 10px 0 10px;
}

.info {
  position: relative;
  overflow: hidden;
}

.top-music-item > .info > p {
  margin: 13px 0 13px 0 !important;
  font-size: 18px;
}
.top-music-item > .info > .music-name {
  flex-grow: 1;
  font-size: 20px;
  position: relative;
}

.top-info-box {
  width: 18%;
  margin: 10px;
  right: 10px;
  position: absolute;
  right: 0;
}

.top-info-box > .top-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scale {
  scale: 1.09;
  overflow: hidden;
}
.scale::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 150px;
  top: -100px;
  background: rgb(77, 41, 106);
  background: linear-gradient(
    90deg,
    rgba(77, 41, 106, 1) 2%,
    rgba(220, 171, 255, 1) 50%,
    rgba(77, 41, 106, 1) 98%
  );
  z-index: -1;
  rotate: 45deg;
  animation: top-music-box-animate 1.5s ease-in-out infinite;
}

@keyframes top-music-box-animate {
  0% {
    left: -220px;
  }
  100% {
    left: 1000px;
  }
}

/* --------------------------- */
.music-volume-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 300px;
  position: absolute;
  right: 0;
  z-index: 4;
}
.music-volume-control > svg {
  margin-left: 20px;
}

#volume-range {
  width: 150px;
  margin: 10px;
}

.music-volume-control > p {
  color: white;
}

/* ------------------------------- */
.aside-left {
  height: 100vh;
  width: 15%;

  background-color: #231b2e;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid rgb(41, 41, 41);
}
.aside-right {
  height: calc(100vh - 90px);
  width: 15%;

  background-color: #231b2e;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 10px;
}
.playlists-title {
  color: white;
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 5%;
  border-bottom: 1px solid rgb(121, 121, 121);
  padding: 5px;
}

.playlist-item {
  height: 60px;
  width: 90%;
  margin: 2px 5% 2px 5%;
  border: 1px solid rgb(75, 75, 75);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  cursor: pointer;
  overflow: hidden;
  padding-right: 5px;
}
.playlist-item:hover {
  border-color: rgb(238, 169, 255);
}

.playlist-item > div {
  width: 75%;
}

.playlists-img {
  height: 90%;
  aspect-ratio: 1/1;
  margin: 0 10px 0 5px;
}

.playlist-item > div > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.playlist-music-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
}
.playlist-play {
  background: rgb(32, 24, 43);
  background: linear-gradient(
    16deg,
    rgba(32, 24, 43, 1) 35%,
    rgba(152, 118, 203, 1) 100%
  );
}

.playlist-next-title {
  margin: 5px 0 5px 5%;
}

#playlist-container {
  width: 100%;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #170f23;
}
::-webkit-scrollbar-thumb {
  background-color: #a84fc4;
  border-radius: 2px;
  cursor: grab;
}
/* ------------------------------------------------------- */
.category-box {
  height: 500px;
  width: 94%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.category-box > nav {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.category-tag {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #924ac2;
  cursor: pointer;
  color: white;
  margin-right: 10px;
}
.tag-selected {
  background-color: #724391;
}

.category-show-item {
  width: 100%;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-item-box {
  width: 200px;
  border: 1px solid #724391;
  color: white;
  padding-bottom: 10px;
  background-color: #170f23;
  position: relative;
  margin: 4px 4px 20px 4px;
}
.category-item-box > img {
  width: 100%;
  aspect-ratio: 1/1;
}
.category-item-box > .music-name {
  width: 100%;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-item-box > .author {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-item-box > .play-svg {
  width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.699);
  opacity: 0;
  z-index: 4;
  transition: 0.5s;
}
.category-item-box:hover > .play-svg {
  opacity: 0.9;
}
.play-svg > svg {
  margin: 5px;
  cursor: pointer;
}

/* --------------------------------------------- */
.user-nav-box {
  height: 70%;

  color: white;

  position: absolute;
  right: 10px;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #a84fc4;
  border-radius: 30px;
  padding-left: 10px;
  cursor: pointer;
  overflow: hidden;
}
#user-nav-box-open {
  overflow: visible;
}

.user-nav-box > span {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.user-nav-box > div {
  text-align: right;
  width: 100%;
  border: 1px solid white;
  margin: 15px 10px 0 0;
  background-color: #170f23;
}
.user-nav-box > div > p {
  padding: 10px;
  font-weight: bold;
}
.user-nav-box > div > p:hover {
  background-color: #542b70;
}

#nav-userAvatar-close {
  opacity: 0;
}

#nav-userAvatar-open {
  animation-fill-mode: forwards;
  animation: navAvatarAnimation 0.3s linear;
}

@keyframes navAvatarAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-avatar {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  float: right;
  margin-left: 15px;
}